name: Build installer kernel 

on:
  push:
    tags:
      - 'v*.*.*'
      
jobs:
  build-linux-kernel:
    uses: ./.github/workflows/build-linux-kernel.yml
    with:
      publish_artifact: true
      builder_image: ghcr.io/truthdb/truthdb-installer-kernel-builder-image:${{ github.ref_name }}
    